/*--------------------------------------------------------------------------
*
*  Forms
*
* This section only sets default forms styles. There are no actionables here.
* Please note that if you are setting $error-text somewhere before this code
* you will want to delete the $error-text at the beginning of this file
* otherwise the $error-text will be overridden.
*
* Use the .form-control class on your input elements to inherit these styles.
* Use the .form-groups class on groupings of form elements (label/inputs)
* The select.form-control element needs a dropdown arrow graphic as a png or svg with the background-size set
* See forms.html for code examples.
*
*-------------------------------------------------------------------------*/


$error-text: #b94a48;
$warning-color: #c09853;
$success-color: #468847;


fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */

  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: $line-height;
  color: #555555;
  vertical-align: middle;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 14px 12px;
  line-height: $line-height;
  vertical-align: middle;
  background-image: none;
  font-size:1.4em;
  font-weight:300;
  background-color:transparent;
  border:0 none;
  border-bottom:1px dotted rgba(black,0.4);
  color:rgba(black,0.8);
  @include border-radius(0);
  @include box-shadow(0 0 0 transparent);
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);
  &:focus{
    border-bottom:1px solid rgba(black,0.4);
    @include box-shadow(0 0 0 transparent);
    outline: 0;
  }
}
/* select boxes are ugly, lets make them prettier
    give the select a parent with the class of .select
    set .form-control class on the select element
    add in dropdown image path
*/
.select{
    position:relative;
    height:50px;
    &::-ms-expand {
        display: none;
    }
    .roi-calculator &{
        &:before{
            border-top-color:#b3b3b3;
        }
    }
}
select.form-control {
    width:100%;
    height:100%;
    top:0;
    position:absolute;
    @include appearance(none);
    background-image:url(../images/dropdown.png);
    background-repeat:no-repeat;
    background-position: right 10px;
    @include background-size(48px 30px);

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    &::-ms-expand {
        display: none;
    }
}
.select .form-control {
    width:100%;
    height:100%;
    top:0;
    position:absolute;
    @include appearance(none);

    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
textarea.form-control {
  height: auto;
}
.form-group {
  position:relative;
  margin-bottom: 30px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: $warning-color;
}
.has-warning .form-control {
  border-color: $warning-color;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.has-warning .input-group-addon {
  color: $warning-color;
  border-color: $warning-color;
  background-color: #fcf8e3;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: $error-text;
}
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: $success-color;
}
.has-success .form-control {
  border-color: $success-color;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.has-success .input-group-addon {
  color: $success-color;
  border-color: $success-color;
  background-color: #dff0d8;
}
.form-control-static {
  margin-bottom: 0;
}
.help-block {
  font-size:0.8em;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.validation_error {
  display:none;
  @extend .alert;
  @extend .alert-danger;
}
.validation_message{
    font-size: 0.6em;
    line-height: 1em;
    margin-top: 5px;
    left: 10px;
    font-weight: 600;
    bottom: -11px;
    position: absolute;
}
.alert{
    color: $error-text;
}
form{
    .btn {
      display: inline-block;
      *display: inline;
      /* IE7 inline-block hack */

      *zoom: 1;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
    }
    .btn:hover,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
    }
    .btn:active,
    .btn.active {
    }
    .btn:first-child {
      *margin-left: 0;
    }
    .btn:hover {
      text-decoration: none;
    }
    .btn:focus {
      outline: 0 none;
    }
    .btn.active,
    .btn:active {
      outline: 0;
    }
    .btn.disabled,
    .btn[disabled] {
      cursor: default;
      background-image: none;
      opacity: 0.65;
      filter: alpha(opacity=65);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .btn-block {
      display: block;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .btn-block + .btn-block {
      margin-top: 5px;
    }
    input[type="submit"].btn-block,
    input[type="reset"].btn-block,
    input[type="button"].btn-block {
      width: 100%;
    }
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
      outline: 0 none;
    }
}